@media(min-width: 1024px){
    .data-label-long{
        width: 115.8px;
    }
    .data-input-long{
        width: 650px;
    }
}
@media(max-width: 855px){
    /* homePage */

    .image1{
        width: 150px;
        margin-top: 100px;
        margin-left: 300px;
    }
    .image2{
        width: 200px;
        margin-top: 200px;
        margin-left: 50px;
    }
    .image3{
        width: 130px;
        margin-top: 450px;
        margin-left: 250px;
    }
    /* table */
    .tableShow{
        display: block;
    }
    /* input */
    .data-input-long{
        width: 400px;
    }
    /* btn */
    .btn-search{
        margin-top: 5px;

    }
    .btn-save{
        margin-top: 5px;
        width: 150px;
        margin-left: -15px;
    }
    .btn-plus{
        width: 100%;
    }
    /* header */
    .navbar-name{
        margin-left: calc(100vw / 5 );
    }
    .nav-item{
        display: block;
        position: absolute;
        width: 100vw;
        height: auto;
        background-color: #DDEAEA;
    }
    /* nav-aside */
    .sideMenu{
        position: absolute;
    }

}